@import "scrollbar.css";
@import "buttons.css";
@import "vue-toastification/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: optimizelegibility;

  @apply tracking-wide bg-white;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  visibility: hidden;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.canvas {
  @apply block w-full h-96;
}

.canvas:focus,
.canvas:hover,
.canvas:active {
  @apply outline-none border-0;
}
